.sidebarChannel > h5 {
  transition: 0.25s;
}
.sidebarChannel:hover > h5 {
  color: white;
  background-color: #393c42;
}

.sidebarChannel > h5 {
  display: flex;
  margin: 1px 15px 1px 15px;
  align-items: center;
  background-color: #2f3135;
  color: gray;
  cursor: pointer;
  border-radius: 5px;
}

.sidebarChannel__hash {
  height: 17px !important;
  padding: 5px;
}
